// Font Variables
$font: lato;
$font-weight-bold: 300;
$font-weight-light: 200;
$font-style: normal;
$font-stretch: normal;
$line-height: normal;
$big-header: 42px;
$medium-header: 30px;
$small-header: 25px;
$regular-text: 14px;

//Color Variables
$light-blue: #47c1bd;
$gray: #8e9394;
$black: #606060;
$white: #d6d6d6;
$red: #c73e3d;

//Sized Variables
$product-img-max-height: 300px;

.main-header {
  color: $light-blue;
  font-family: $font;
  font-weight: $font-weight-bold;
  font-style: $font-style;
  font-stretch: $font-stretch;
  line-height: $line-height;
  font-size: $big-header;
  letter-spacing: -0.6px;
  text-align: center;
  margin: 25px;
}
